<div class="static-sidebar-wrapper sidebar-blue">
  <div class="static-sidebar">
    <div class="sidebar">
			<div class="widget" id="widget-profileinfo">
    		<div class="widget-body">
        	<div class="userinfo ">
            <div class="avatar pull-left">
              <img src="assets/demo/avatar/avatar_15.png" class="img-responsive img-circle"> 
            </div>
            <div class="info">
              <span class="username">Jonathan Smith</span>
              <span class="useremail">jon@paperadmin.com</span>
            </div>
            <div class="acct-dropdown clearfix dropdown">
              <span class="pull-left">
              	<span class="online-status online"></span>Online
              </span>
              <span class="pull-right dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)" class="btn btn-fab-caret btn-xs btn-fab"><i class="material-icons">arrow_drop_down</i><div class="ripple-container"></div></a></span>
              <ul class="dropdown-menu">
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
              </ul>
            </div>
        	</div>
    		</div>
			</div>
		<div class="widget stay-on-collapse" id="widget-sidebar">
    	<nav role="navigation" class="widget-body">
				<ul class="acc-menu">
					<li class="nav-separator"><span>Navigation</span></li>
					<li><a  class="withripple" href="index.html"><span class="icon">
					<i class="material-icons">home</i></span><span>Dashboard</span><span class="badge badge-teal">2</span></a></li>
					<li><a  class="withripple" href="#"><span class="icon"><i class="material-icons">code</i></span><span>Angular (coming soon!)</span></a></li>
					<li><a  class="withripple" href="javascript:;"><span class="icon"><i class="material-icons">flash_on</i></span><span>Layout</span></a>
					
				</li>
				<li><a  class="withripple" href="javascript:;"><span class="icon"><i class="material-icons">settings</i></span><span>Case Studies</span></a>
			</nav>
		</div>
	</div>
</div>
</div>