		<a class="btn btn-lg btn-danger btn-raised  btn-block mb-xl mt" href="app-inbox-compose.html">Compose</a>
		
		<div class="inbox-menu list-group-alternate">
			<a href="app-inbox.html" class="list-group-item active"><i class="material-icons">inbox</i>Inbox <span class="badge badge-primary">3</span></a>
			<a href="#" class="list-group-item"><i class="material-icons">send</i>Sent </a>
			<a href="#" class="list-group-item"><i class="material-icons">insert_drive_file</i>Drafts <span class="badge badge-orange">1</span></a>
			<a href="#" class="list-group-item"><i class="material-icons">delete</i>Trash</a>
			<a href="#" class="list-group-item"><i class="material-icons circle-red">lens</i>Important</a>
			<a href="#" class="list-group-item"><i class="material-icons circle-green">lens</i>Work</a>
			<a href="#" class="list-group-item"><i class="material-icons circle-purple">lens</i>Personal</a>
		</div>