<div class="page-content">
  <ol class="breadcrumb">
    <li class=""><a href="index.html">Home</a></li>
    <li class="active"><a href="index.html">Dashboard</a></li>
  </ol>
  <div class="page-heading">            
    <h1>Welcome<% if user_signed_in? %><small><%= current_user.name || current_user.email %></small><% end %></h1>
  </div>
</div>


                            </div> <!-- .container-fluid -->
                        </div> <!-- #page-content -->
                    </div>
                    <footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li><h6 style="margin: 0;">&copy; 2016 USACE </h6></li>
        </ul>
    </div>
</footer>
