<div class="col-md-3">
  <ul>
    <li>Oveerview</li>
    <li>Project Costs</li>
    <li>Lessons & Agencies</li>
    <li>Associate Files</li>
  </ul>
</div>
<div class="col-md-7">
	<div class="page-heading">
    <h1>General</h1>
 	</div>
 	<ol class="breadcrumb">
		<li><a href="index.html">Khadijah Coakley</a></li>
		<li><a href="index.html">Case Studies</a></li>
		<li><a href="index.html">Northern Coast Marsh Project</a></li>
		<li class="active">General</li>
  </ol>
	<hr/>
	<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
		<div class="panel-heading">
			<h2>Form Layout</h2>
			<!-- <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div> -->
			<div class="options">
				<ul class="nav nav-tabs">
          <li class="active">
          	<a href="#overview" data-toggle="tab">
          		Overview
          	</a>
          </li>
          <li>
          	<a href="#costs" data-toggle="tab">
          		Project Cost
          	</a>
          </li>
          <li>
          	<a href="#lessons" data-toggle="tab">
          		Lessons Learned
          	</a>
          </li>
           <li>
          	<a href="#partners" data-toggle="tab">
          		Agencies
          	</a>
          </li>
          <li>
          	<a href="#files" data-toggle="tab">
          		Associated Files
          	</a>
          </li>
        </ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				
				<div class="tab-pane active p-xxl" id="overview">

					<h3>General</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					

					<h4>Overview</h4>
					<hr/>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Overview</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
									<fieldset>
										<legend>Overview</legend>
										<div data-row-span="10">
											<div data-field-span="4">
												<label>Project Name</label>
												<input type="text" autofocus placeholder="Northern Coast Marsh Project">
											</div>
											<div data-field-span="4">
												<label>Project Type</label>
												<input type="text" autofocus placeholder="Dredged Material Disposal">
											</div>
											<div data-field-span="2">
												<label>Project status</label>
												<input type="text" autofocus placeholder="Closed">
											</div>
										</div>
										<div data-row-span="1">
											<div data-field-span="1">
												<label>Overview</label>
												<textarea rows="5" type="text" autofocus placeholder="Please provide a brief description of your project."></textarea>
											</div>
										</div>
										<div data-row-span="1">
											<div data-field-span="1">
												<label>If other project type is selected, or multiple project types apply to the site please list and describe here</label>
												<textarea rows="2" type="text" autofocus placeholder="...."></textarea>
											</div>
										</div>
									</fieldset>

									<div class="clearfix pt-md">
										<div class="pull-right">
											<button class="btn-raised btn-primary btn">Submit Form</button>
											<button class="btn-default btn">Cancel</button>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>


					<h4>Project Area</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Project Area</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
									<fieldset>
										<legend>Overview</legend>
										<div data-row-span="2">
											<div data-field-span="1">
												<label>Country</label>
												<input type="text" autofocus placeholder="United States">
											</div>
											<div data-field-span="1">
												<label>State</label>
												<input type="text" autofocus placeholder="California">
											</div>
										</div>
										<div data-row-span="3">
											<div data-field-span="1">
												<label>County</label>
												<input type="text" autofocus placeholder="Orange County">
											</div>
											<div data-field-span="1">
												<label>City</label>
												<input type="text" autofocus placeholder="Los Angeles">
											</div>
											<div data-field-span="1">
												<label>USACE District</label>
												<input type="text" autofocus placeholder="Mobile">
											</div>
										</div>
										<div data-row-span="10">
											<div data-field-span="2">
												<label>Size of Area</label>
												<input type="text" autofocus placeholder="24,980">
											</div>
											<div data-field-span="8" class="checkbox">
												<label>Size of Area Unit</label>
												<label><input type="checkbox"> Cubic Yards</label>
												<label><input type="checkbox"> Cubic Meters</label> &nbsp;
												<label><input type="checkbox"> Acres</label> &nbsp;
												<label><input type="checkbox"> Hectare</label> &nbsp;
												<label><input type="checkbox"> Square Feet</label> &nbsp;
												<label><input type="checkbox"> Square Meters</label>
											</div>
										</div>
									</fieldset>
									<div class="clearfix pt-md">
										<div class="pull-right">
											<button class="btn-raised btn-primary btn">Submit Form</button>
											<button class="btn-default btn">Cancel</button>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane p-xxl" id="costs">

					<h3>Estimated Project Cost</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					

					<h4>How to input costs?</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Total Project Cost</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Total Project Cost</legend>
											<div data-row-span="3">
												<div data-field-span="2">
													<label>Total Project Cost</label>
													<input type="text" autofocus placeholder="$1,323">
												</div>
												<div data-field-span="1">
													<label>Currency</label>
													<input type="text" autofocus placeholder="$USD">
												</div>
											</div>
										</fieldset>
										<br/>
										<br/>
										<fieldset>
											<legend>Project Cost By Category</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Type</label>
													<input type="text" autofocus placeholder="Planning">
												</div>
												<div data-field-span="1">
													<label>Total Units</label>
													<input type="text" autofocus placeholder="10,000">
												</div>
												<div data-field-span="1">
													<label>Amount</label>
													<input type="text" autofocus placeholder="$1,456">
												</div>
												<div data-field-span="1">
													<label>Unit Cost</label>
													<input type="text" autofocus placeholder="$1.45">
												</div>
											</div>
										</fieldset>
										<br/>
										<br/>
										<fieldset>
											<legend>Describe Other Costs</legend>
											<div data-row-span="1">
												<div data-field-span="1">
													<label>Other</label>
													<textarea type="text" autofocus placeholder="Please describe any other costs incurred"></textarea>
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane p-xxl" id="lessons">

					<h3>Lessons Learned</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					

					<h4>Share you lesson with other.</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Lessons</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Lessons</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Phase</label>
													<input type="text" autofocus placeholder="Pre-Construction">
												</div>
												<div data-field-span="3">
													<label>Description</label>
													<textarea rows="10" type="text" autofocus placeholder="Tell us what you learned"></textarea>
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane p-xxl" id="partners">
					<h3>Partners & Agencies</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					

					<h4>Contractors</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Contractors</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Contractors</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Name</label>
													<input type="text" autofocus placeholder="John Smith">
												</div>
												<div data-field-span="1">
													<label>Role</label>
													<input type="text" autofocus placeholder="Program Director">
												</div>
											</div>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Phone</label>
													<input type="text" autofocus placeholder="410-508-999">
												</div>
												<div data-field-span="1">
													<label>Email</label>
													<input type="text" autofocus placeholder="johnsmith@company.com">
												</div>
												<div data-field-span="1">
													<label>City</label>
													<input type="text" autofocus placeholder="Austin">
												</div>
											</div>
											<div data-row-span="8">
												<div data-field-span="4">
													<label>Address</label>
													<input type="text" autofocus placeholder="123 Maple Lane">
												</div>
												<div data-field-span="2">
													<label>State</label>
													<input type="text" autofocus placeholder="Texas">
												</div>
												<div data-field-span="2">
													<label>zip</label>
													<input type="text" autofocus placeholder="921044">
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>


					<h4>Sponsors</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Sponsors</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Sponsors</legend>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Name</label>
													<input type="text" autofocus placeholder="Fish & Wildlife Preservation Association">
												</div>
												<div data-field-span="1">
													<label>POC Name</label>
													<input type="text" autofocus placeholder="John Smith">
												</div>
												<div data-field-span="1">
													<label>Role</label>
													<input type="text" autofocus placeholder="Program Director">
												</div>
											</div>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Phone</label>
													<input type="text" autofocus placeholder="410-508-999">
												</div>
												<div data-field-span="1">
													<label>Email</label>
													<input type="text" autofocus placeholder="johnsmith@company.com">
												</div>
												<div data-field-span="1">
													<label>City</label>
													<input type="text" autofocus placeholder="Austin">
												</div>
											</div>
											<div data-row-span="8">
												<div data-field-span="4">
													<label>Address</label>
													<input type="text" autofocus placeholder="123 Maple Lane">
												</div>
												<div data-field-span="2">
													<label>State</label>
													<input type="text" autofocus placeholder="Texas">
												</div>
												<div data-field-span="2">
													<label>zip</label>
													<input type="text" autofocus placeholder="921044">
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h4>Partnering Agencies</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Partnering Agencies</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Partnering Agencies</legend>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Agency Name</label>
													<input type="text" autofocus placeholder="Department of Transportation">
												</div>
												<div data-field-span="1">
													<label>POC Name</label>
													<input type="text" autofocus placeholder="Rachel McCoy">
												</div>
												<div data-field-span="1">
													<label>Role</label>
													<input type="text" autofocus placeholder="Budget Officer">
												</div>
											</div>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Phone</label>
													<input type="text" autofocus placeholder="410-508-999">
												</div>
												<div data-field-span="1">
													<label>Email</label>
													<input type="text" autofocus placeholder="johnsmith@company.com">
												</div>
												<div data-field-span="1">
													<label>City</label>
													<input type="text" autofocus placeholder="Austin">
												</div>
											</div>
											<div data-row-span="8">
												<div data-field-span="4">
													<label>Address</label>
													<input type="text" autofocus placeholder="123 Maple Lane">
												</div>
												<div data-field-span="2">
													<label>State</label>
													<input type="text" autofocus placeholder="Texas">
												</div>
												<div data-field-span="2">
													<label>zip</label>
													<input type="text" autofocus placeholder="921044">
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h4>Other Stakeholders</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Other Stakeholders</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Partnering Agencies</legend>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Name</label>
													<input type="text" autofocus placeholder="University of Alabama">
												</div>
												<div data-field-span="1">
													<label>POC Name</label>
													<input type="text" autofocus placeholder="Sarah Mitchell">
												</div>
												<div data-field-span="1">
													<label>Role</label>
													<input type="text" autofocus placeholder="Dept. Head">
												</div>
											</div>
											<div data-row-span="3">
												<div data-field-span="1">
													<label>Phone</label>
													<input type="text" autofocus placeholder="410-508-999">
												</div>
												<div data-field-span="1">
													<label>Email</label>
													<input type="text" autofocus placeholder="johnsmith@company.com">
												</div>
												<div data-field-span="1">
													<label>City</label>
													<input type="text" autofocus placeholder="Austin">
												</div>
											</div>
											<div data-row-span="8">
												<div data-field-span="4">
													<label>Address</label>
													<input type="text" autofocus placeholder="123 Maple Lane">
												</div>
												<div data-field-span="2">
													<label>State</label>
													<input type="text" autofocus placeholder="Texas">
												</div>
												<div data-field-span="2">
													<label>zip</label>
													<input type="text" autofocus placeholder="921044">
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>	

				<div class="tab-pane p-xxl" id="files">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-2">
	<div class="alert alert-info">
		<h3>Almost there - 25% Complete</h3>
		<p>Grid forms are dense forms designed for use in applications that require lots of data to be entered regularly.</p>
	</div>
</div>