<div class="col-md-3">
  <a href="_post-construction.html">
    <h4>Post-Construction</h4>
  </a>
  <ul>
    <li>Monitoring</li>
    <li>Regulatory aspects</li>
    <li>Other Information</li>
    <li>Associated Files</li>
  </ul>
</div>
<div class="col-md-7">
	<div class="page-heading">
    <h1>Post-Construction</h1>
 	</div>
 	<ol class="breadcrumb">
			<li><a href="index.html">Khadijah Coakley</a></li>
			<li><a href="index.html">Case Studies</a></li>
			<li><a href="index.html">Northern Coast Marsh Project</a></li>
			<li class="active">Post-Construction</li>
	  </ol>
	<hr/>
	<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
		<div class="panel-heading">
			<h2>Form Layout</h2>
			<div class="options">
				<ul class="nav nav-tabs">
		  		  <li>
					<a href="#regulatory" data-toggle="tab">
						Regulatory Aspects
					</a>
				  </li>
			  	<li>
						<a href="#monitoring active" data-toggle="tab">
							Monitoring
						</a>
			  	</li>
          <li>
          	<a href="#lessons" data-toggle="tab">
          		Lessons Learned
          	</a>
          </li>
          <li>
          	<a href="#files" data-toggle="tab">
          		Associated Files
          	</a>
          </li>
				</ul>
				</div>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					
					<div class="tab-pane p-xxl" id="monitoring active">

						<h3>Monitoring</h3>
						<hr/>
						<p class="lead text-muted">
							[Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA]
						</p>
						<br/>

						<h4>Monitoring During the Contruction Phase</h4>
						<hr/>
						<p class="text-muted">
							[Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA]
						</p>
						<br/>

						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
									<div class="panel-heading">
										<h2>Monitoring</h2>
										<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
									</div>
									<div class="panel-body">
										<form class="grid-form">
											<fieldset class="">
												<legend>Was Adaptive Management Applied?</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Adaptive Management</label>
														<textarea type="text" rows="5" autofocus placeholder="If so, describe the general approach and provide any performance specifications and decision points established if available."></textarea>
													</div>
												</div>
											</fieldset>
											<br/>
											<fieldset class="">
												<legend>Was a monitoring plan developed for the site?</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Monitoring Plan</label>
														<textarea type="text" rows="5" autofocus placeholder="yes"></textarea>
													</div>
												</div>
											</fieldset>
											<br/>

											<fieldset class="">
												<legend>What was the purpose/focuss of the monitoring?</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Monitoring Focus</label>
														<textarea type="text" rows="5" autofocus placeholder="Pre-construction, short-term and long-term (include same fields for each, except sediment physical characteristics and habitat units established are only under post-construction)"></textarea>
													</div>
												</div>
											</fieldset>
											<br/>

											<fieldset class="">
												<legend>Monitoring Specifics/Reports</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Monitoring Specifics</label>
														<textarea type="text" rows="5" autofocus placeholder="Description"></textarea>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane p-xxl" id="regulatory">
						
						<h4>Regulatory</h4>
						<hr/>
						<p class="text-muted">
							Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
						</p>
						<br/>
						
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
									<div class="panel-heading">
										<h2>Regulatory</h2>
										<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
									</div>
									<div class="panel-body">
										<form class="grid-form">
											<fieldset class="">
												<legend>Project Authorization</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Project Authorization</label>
														<textarea type="text" rows="5" autofocus placeholder="Under what regulatory authority was the project executed (for example, Section 404 of the Clean Water Act, etc.)"></textarea>
													</div>
												</div>
											</fieldset>
											<br/>
											<fieldset class="">
												<legend>Regulatory Limitations</legend>
												<div data-row-span="1">
													<div data-field-span="1">
														<label>Regulatory Limitations</label>
														<textarea type="text" rows="5" autofocus placeholder="Did the regulations applicable to the project require use of the 'least cost' placement alternative? Were there other significant regulatory limitations or requirements?"></textarea>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane p-xxl" id="lessons">

					<h3>Lessons Learned</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					

					<h4>Share you lesson with other.</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Lessons</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Lessons</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Phase</label>
													<input type="text" autofocus placeholder="Pre-Construction">
												</div>
												<div data-field-span="3">
													<label>Description</label>
													<textarea rows="10" type="text" autofocus placeholder="Tell us what you learned"></textarea>
												</div>
											</div>
										</fieldset>
										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="tab-pane p-xxl" id="files">
					
				</div>

				</div>
			</div>
		</div>
	</div>/div>
<div class="col-md-2">
	<div class="alert alert-info">
		<h3>Almost there - 100% Complete</h3>
		<p>[Grid forms are dense forms designed for use in applications that require lots of data to be entered regularly.</p>
	</div>
</div>