<div class="col-md-3">
  <a href="_post-construction.html">
    <h4>Post-Construction</h4>
  </a>
  <ul>
    <li>Monitoring</li>
    <li>Regulatory aspects</li>
    <li>Other Information</li>
    <li>Associated Files</li>
  </ul>
</div>
<div class="col-md-7">
	<div class="page-heading">
    <h1>Post-Construction</h1>
 	</div>
 	<ol class="breadcrumb">
			<li><a href="index.html">Khadijah Coakley</a></li>
			<li><a href="index.html">Case Studies</a></li>
			<li><a href="index.html">Northern Coast Marsh Project</a></li>
			<li class="active">Post-Construction</li>
	  </ol>
	<hr/>
	<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
		<div class="panel-heading">
			<h2>Form Layout</h2>
			<!-- <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body, .panel-footer"}'></div> -->
			<div class="options">
				<ul class="nav nav-tabs">
          <li class="active">
          	<a href="#horizontal-form" data-toggle="tab">
          		Overview
          	</a>
          </li>
          <li>
          	<a href="#vertical-form" data-toggle="tab">
          		Project Cost
          	</a>
          </li>
          <li>
          	<a href="#bordered-row" data-toggle="tab">
          		Lessons & Agencies
          	</a>
          </li>
          <li>
          	<a href="#bordered-row" data-toggle="tab">
          		Associated Files
          	</a>
          </li>
        </ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				
				<div class="tab-pane active p-xxl" id="horizontal-form">

					<h3>Average Sediment Properties</h3>
					<hr/>
					<p class="lead text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					<h4>Material Type</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Sediment Type & Composition</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Sediment Material Type</legend>
											<div data-row-span="1">
												<div data-field-span="1">
													<label>In-Situ Sediment Material Type:</label>
													<textarea rows="5" type="text" autofocus placeholder="Provide a general description of the sediment type (for example, predominantly sand, clay, etc.) and its general consistency (plastic, non-cohesive, highly organic, etc.), or enter the SAGA ID, or upload the relevant reports. To add an attachment use the green button on the side of the page."></textarea>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h4>Sediment Type & Composition</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Sediment Type & Composition</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset class="">
											<legend>Average Sediment Properties</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>% Fine Particles</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>% Sand Particles</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>% Gravel Particles</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>
										<fieldset class="">
											<legend>Atterberg Limits</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Limit</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>unit</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Soil Classification</legend>
											<div data-row-span="4">
												<div data-field-span="1">
													<label>Soil Classification AASHTO</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Soil Classification AASHTO</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Other Values</legend>
											<div data-row-span="8">
												<div data-field-span="1">
													<label>Water Content</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Moisture Content</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Moisture %</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Other Values</legend>
											<div data-row-span="8">
												<div data-field-span="1">
													<label>Void Ratio</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Solids Content</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Unit</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Other Values</legend>
											<div data-row-span="8">
												<div data-field-span="1">
													<label>Saturation %</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Bearing Capacity</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Unit</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Type of Bearing Capacity Test</legend>
											<div data-row-span="1">
												<div data-field-span="1">
													<label>Type of Bearing Capacity Test</label>
													<input type="text" autofocus placeholder="Example: California Bearing Ratio (CBR), Plate Bearing Testing (PBR), etc.">
												</div>
											</div>
											<div data-row-span="1">
												<div data-field-span="1">
													<label>Type of Bearing Capacity Test</label>
													<textarea rows="3" type="text" autofocus placeholder="Specify other strength measures, if applicable, as well as any relevant material conditions, such as moisture content, of the samples test:"></textarea>
												</div>
											</div>
										</fieldset>
										<br/>

										<fieldset class="">
											<legend>Other Values</legend>
											<div data-row-span="8">
												<div data-field-span="1">
													<label>Organic Content %</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Bulk Density</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="1">
													<label>Unit</label>
													<input type="text" autofocus placeholder="20%">
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>

					<h4>Chemistry Values</h4>
					<hr/>
					<p class="text-muted">
						Enter the average properties of the sediment here and upload data for individual data samples,<br/> composites, etc. either from your workstation or from SAGA
					</p>
					<br/>
					
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-primary" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Sediment Chemistry</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
											<legend>Sediment Chemistry Type</legend>
											<div data-row-span="8">
												<div data-field-span="2">
													<label>Sediment Chemistry Type</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="6">
													<label>Additional Information</label>
													<textarea rows="3" type="text" autofocus placeholder="Please provide any clarification nececessary, such as the specific compounds measured."></textarea>
												</div>
											</div>
										</fieldset>
										<br/>
										<fieldset>
											<legend>Water Chemistry Type</legend>
											<div data-row-span="8">
												<div data-field-span="2">
													<label>Chemistry Type</label>
													<input type="text" autofocus placeholder="20%">
												</div>
												<div data-field-span="6">
													<label>Additional Information</label>
													<textarea rows="3" type="text" autofocus placeholder="Please provide any clarification nececessary, such as the specific compounds measured."></textarea>
												</div>
											</div>
										</fieldset>

										<div class="clearfix pt-md">
											<div class="pull-right">
												<button class="btn-raised btn-primary btn">Submit Form</button>
												<button class="btn-default btn">Cancel</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane p-xxl" id="vertical-form">
					
				</div>

				<div class="tab-pane p-xxl" id="bordered-row">

					<form class="grid-form">
						<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default" data-widget='{"draggable": "false"}'>
								<div class="panel-heading">
									<h2>Other Values</h2>
									<div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
								</div>
								<div class="panel-body">
									<form class="grid-form">
										<fieldset>
										<legend>Other Values</legend>
										<div data-row-span="8">
											<div data-field-span="1">
												<label>Site Water Type</label>
												<input type="text" autofocus placeholder="20%">
											</div>
											<div data-field-span="1">
												<label>Water Salinity</label>
												<input type="text" autofocus placeholder="20%">
											</div>
											<div data-field-span="1">
												<label>Unit</label>
												<input type="text" autofocus placeholder="20%">
											</div>
										</div>
									</fieldset>
									<div class="clearfix pt-md">
										<div class="pull-right">
											<button class="btn-raised btn-primary btn">Submit Form</button>
											<button class="btn-default btn">Cancel</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
						</div>
					</form>

							</div>
					<div class="tab-pane" id="tabular-form">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="focusedinput" class="col-sm-2 control-label">Focused Input</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="focusedinput" placeholder="Default Input">
								</div>
								<div class="col-sm-2">
									<p class="help-block">Your help text!</p>
								</div>
							</div>
							<div class="form-group">
								<label for="disabledinput" class="col-sm-2 control-label">Disabled Input</label>
								<div class="col-sm-8">
									<input disabled type="text" class="form-control" id="disabledinput" placeholder="Disabled Input">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-8">
									<input type="password" class="form-control" id="inputPassword" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<label for="checkbox" class="col-sm-2 control-label">Checkbox</label>
								<div class="col-sm-8">
									<div class="checkbox block"><label><input type="checkbox"> Unchecked</label></div>
									<div class="checkbox block"><label><input type="checkbox" checked> Checked</label></div>
									<div class="checkbox block"><label><input type="checkbox" disabled> Disabled Unchecked</label></div>
									<div class="checkbox block"><label><input type="checkbox" disabled checked> Disabled Checked</label></div>
								</div>
							</div>
							<div class="form-group">
								<label for="checkbox" class="col-sm-2 control-label">Checkbox Inline</label>
								<div class="col-sm-8">
									<div class="checkbox">
										<label><input type="checkbox"> Unchecked</label>
										<label><input type="checkbox" checked> Checked</label>
										<label><input type="checkbox" disabled> Disabled Unchecked</label>
										<label><input type="checkbox" disabled checked> Disabled Checked</label>
										<label>
									</div>

								</div>
							</div>
							<div class="form-group">
								<label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
								<div class="col-sm-8"><select name="selector1" id="selector1" class="form-control">
									<option>Lorem ipsum dolor sit amet.</option>
									<option>Dolore, ab unde modi est!</option>
									<option>Illum, fuga minus sit eaque.</option>
									<option>Consequatur ducimus maiores voluptatum minima.</option>
								</select></div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Multiple Select</label>
								<div class="col-sm-8">
									<select multiple="" class="form-control" class="form-control">
										<option>Option 1</option>
										<option>Option 2</option>
										<option>Option 3</option>
										<option>Option 4</option>
										<option>Option 5</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="txtarea1" class="col-sm-2 control-label">Textarea</label>
								<div class="col-sm-8"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control"></textarea></div>
							</div>
							<div class="form-group">
								<label for="radio" class="col-sm-2 control-label">Radio</label>
								<div class="col-sm-8">
									<div class="radio block"><label><input type="radio"> Unchecked</label></div>
									<div class="radio block"><label><input type="radio" checked> Checked</label></div>
									<div class="radio block"><label><input type="radio" disabled> Disabled Unchecked</label></div>
									<div class="radio block"><label><input type="radio" disabled checked> Disabled Checked</label></div>
								</div>
							</div>
							<div class="form-group">
								<label for="radio" class="col-sm-2 control-label">Radio Inline</label>
								<div class="col-sm-8">
									<div class="radio">
										<label><input type="radio"> Unchecked</label>
										<label><input type="radio" checked> Checked</label>
										<label><input type="radio" disabled> Disabled Unchecked</label>
										<label><input type="radio" disabled checked> Disabled Checked</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="smallinput" class="col-sm-2 control-label label-input-sm">Small Input</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="smallinput" placeholder="Small Input">
								</div>
							</div>
							<div class="form-group">
								<label for="mediuminput" class="col-sm-2 control-label">Medium Input</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="mediuminput" placeholder="Medium Input">
								</div>
							</div>
							<div class="form-group mb-n">
								<label for="largeinput" class="col-sm-2 control-label label-input-lg">Large Input</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-lg" id="largeinput" placeholder="Large Input">
								</div>
							</div>
						</form>
					</div>	
				</div>
			</div>
		</div>
	</div>
<div class="col-md-2">
	<div class="alert alert-info">
		<h3>Almost there - 100% Complete</h3>
		<p>[Grid forms are dense forms designed for use in applications that require lots of data to be entered regularly.</p>
	</div>
</div>