<div class="container-fluid">
  <div data-widget-group="group1">
    <br/>
    <div class="row">
      <%= render "general" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "pre_construction" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "construction" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "post_construction" %>
    </div>

  </div>
</div>