  <div class="static-content">
    <div class="page-content">
       <ol class="breadcrumb">
        <li class=""><a href="index.html">New Case Study</a></li>
        <li class="active"><a href="index.html"></a></li>
        <li class="active"><a href="index.html">Edit Account</a></li>
      </ol>
      <div class="page-heading">            
        <h1>New Case Stude<small></small></h1>
      </div>
      <div class="container-fluid">
        <div data-widget-group="group1">
          <br/>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-primary" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                  <h2>Edit Account</h2>
                </div>
                <div class="panel-body">
                  <div class="p-xxl" id="horizontal-form">
                    <%= render "form", :case_study => CaseStudy.new , :url => case_studies_path, :method => :post %>
                  </div>
                </div>
              </div>
			    	</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
</div>