{% extends 'layout' %}
{% block title %}Tiles{% endblock %}

{% block breadcrumb %}
<li><a href="index.html">Home</a></li>
<li><a href="#">UI Components</a></li>
<li class="active"><a href="ui-tiles.html">Tiles</a></li>
{% endblock %}

{% block styles %}
{% endblock %}  

{% block scripts %}
{{ "demo/demo-tiles.js" | asset_url | script_tag }}                             <!-- Initialize scripts for this page-->
{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-indigo">
            <div class="info">
                <div class="tile-heading"><span>Page Views</span></div>
                <div class="tile-body"><span>5,921</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-gray ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-primary">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-success clearfix">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-teal ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-lime">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-danger clearfix">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-info ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-orange">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-blue clearfix">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-purple">
            <div class="info">
                <div class="tile-heading"><span>Page Views</span></div>
                <div class="tile-body"><span>5,921</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-brown ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-line"></div></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-indigo">
            <div class="info">
                <div class="tile-heading"><span>Processed</span></div>
                <div class="tile-body"><span>500</span></div>
            </div>
            <div class="stats">
                <div class="tile-content">
                    <span class="material-icons tile-icon">done_all</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-gray ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content">
                    <span class="material-icons tile-icon">face</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-primary">
            <div class="info">
                <div class="tile-heading"><span>Items Sold</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content">
                    <span class="material-icons tile-icon">laptop</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-success clearfix">
            <div class="info">
                <div class="tile-heading"><span>Downloads</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content">
                    <span class="material-icons tile-icon">cloud_download</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-teal ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-lime">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-danger clearfix">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-info ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-orange">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,032</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-blue clearfix">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>1,454</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-purple">
            <div class="info">
                <div class="tile-heading"><span>Page Views</span></div>
                <div class="tile-body"><span>5,921</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="info-tile info-tile-alt tile-brown ">
            <div class="info">
                <div class="tile-heading"><span>Visitors</span></div>
                <div class="tile-body "><span>2,344</span></div>
            </div>
            <div class="stats">
                <div class="tile-content"><div class="tile-pie"></div></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
